<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uy.mapper.CommentRecordMapper">

    <resultMap id="BaseResultMap" type="com.uy.pojo.CommentRecord">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="pid" column="pid" jdbcType="BIGINT"/>
            <result property="articleId" column="articleId" jdbcType="BIGINT"/>
            <result property="originalAuthor" column="originalAuthor" jdbcType="VARCHAR"/>
            <result property="answererId" column="answererId" jdbcType="INTEGER"/>
            <result property="respondentId" column="respondentId" jdbcType="INTEGER"/>
            <result property="commentDate" column="commentDate" jdbcType="VARCHAR"/>
            <result property="likes" column="likes" jdbcType="INTEGER"/>
            <result property="commentContent" column="commentContent" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,pid,articleId,
        originalAuthor,answererId,respondentId,
        commentDate,likes,commentContent,
        status
    </sql>
</mapper>
